.detail {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
    .detail-container {
        width: 100%;
        margin-bottom: 30px;
        @media(min-width: 1280px) {
            max-width: 1000px;
            border-radius: 8px;
        }

        .path-container {
            margin: 16px 0;
            .path-skeleton {
                box-shadow: none;
                background-color: rgba(33,33,33,.15);
                height: 16px;
                width: 50%;
            }
        }

        .container {
            width: 100%;
            min-height: 500px;
            background-color: #FFF;
            border-radius: 8px;
        }

    }
}